.portfoliyo__container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}

.portfoliyo__item{
    background: var(--color-bg-variant);
    padding: 2rem;
    border-radius: 2rem;
    margin: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.portfoliyo__item:hover{
    background:transparent;
    border-color: var(--color-primary-variant);
}

.portfoliyo__item-image {
    width: 100px; /* Adjust to your desired width */
    height: 100px; /* Adjust to your desired height */
    border-radius: 50%;
    overflow: hidden;
    
}

.portfoliyo__item-content{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.portfoliyo__item-content p{
    text-align: justify;
    padding-top: 0.5rem;
    color: var(--color-light);
}

.portfoliyo__item-content h3{
    text-align: center;
    padding-top: 0.5rem;
    font-weight: 500;
    color: var(--color-primary);
}

.portfoliyo__item-cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

@media screen and (max-width: 1024px){
    .portfoliyo__container{
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (max-width: 600px){
    .portfoliyo__container{
        grid-template-columns: repeat(1,1fr);
    }
}