header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{
    text-align: center ;
    height: 100%;
    position: relative;
}

/*** CTA ***/
.cta{
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/*** socials ***/
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
  transform: translateX(-50%);
}
  
.header__socials a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border-radius: 50%;
  color: var(--color-white);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  text-decoration: none;
}

.header__socials a:hover {
  background-color: var(--color-primary);
  color: var(--color-bg);
  transform: scale(1);
}

.header__socials a svg {
  font-size: 2rem;
}
  
/* Image property */
.header__img-flex{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  place-items: center;
}

.my-img {
  position: relative;
  margin: 2rem auto;
  width: 22rem;
  height: 30rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.my-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-primary);
  opacity: 0.85;
  z-index: -1;
  transition: var(--transition);
}

.my-img:hover:before {
  opacity: 0.5;
}

.my-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.my-img:hover img {
  transform: scale(1.03);
}
    
/* scroll-down */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 1.2rem;
  color: var(--color-primary);
  transition: var(--transition);
  text-decoration: none;
}

.scroll__down:hover {
  color: var(--color-white);
}

.scroll__down::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -0.8rem;
  transform: translateY(-50%);
  width: 0.8rem;
  height: 0.2rem;
  background-color: var(--color-primary);
}

.scroll__down::after {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: -0.4rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: var(--color-primary);
}
  

@media screen and (max-width: 1024px) {
  .header {
    height: 68vh;
  }
  .header__socials{
    transform: translateX(0%);
    flex-direction: row;
    position: static; /* Change position to static or adjust as needed */
    /* margin-top: 1rem; */
  }

  .scroll__down {
    display: none;
  }
  .my-img {
    margin: 2rem auto;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 90vh;
  }

  .header__socials{
    transform: translateX(0%);
    flex-direction: row;
    position: static; /* Change position to static or adjust as needed */
    /* margin-top: 1rem; */
  }

  .scroll__down {
    display: none;
  }

  .my-img {
    width: 20.5rem;
    height: 29rem;
    margin: 2rem 0rem 6rem;
    padding: auto;
  }
}
