footer {
    background: var(--color-primary);
    padding: 2rem 0;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

footer a {
    color: var(--color-bg);
}

.footer__logo {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--color-bg);
    font-weight: 500;
    display: inline-block;
}

.permalinks {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}
