.experience__container{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 2.7rem;
}


.experience__container > div{
    background: var(--color-bg-variant);
    padding: 0.7rem 2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    box-sizing: border-box;
    transition: var(--transition);
}

.experience__container > div:hover{
    border-color: var(--color-primary-varient);
    background: transparent;
}

.experience__container > div > h3{
    text-align: center;
    margin-bottom: 2rem;
}

.experience__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.experience_detail {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.experience_detail-icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    line-height: 1; /* Add line-height property */
    flex-shrink: 0;
    margin-right: 0.5rem; /* Adjust margin as desired */
}


/* media query for medium devices */
@media screen and (max-width: 1024px){
    .experience__container{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    .experience__container > div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .experience__content{
        padding: 1rem;
    }
}
    

/* media query for small devices */
@media screen and (max-width: 600px){
    .experience__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .experience__container > div{
        padding: 1.5rem 1rem;
        width: 90%;
    }
    .experience__content{
        grid-template-columns: 1fr;
    }
    .experience_detail-icon{
        margin: 0 auto;
    }
}
    